##Convertir PDF a CSV

In [ ]:
from google.colab import drive

drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [ ]:
import tabula

In [ ]:
#Convertir data de oficinas en pdf a archivo csv
df_oficina = tabula.read_pdf("/content/drive/MyDrive/oficinas.pdf", pages = "all")[0]

In [ ]:
tabula.convert_into("/content/drive/MyDrive/oficinas.pdf", "oficinas.csv", output_format="csv", pages='all')
df_oficina

##Update Command for lat y long

In [ ]:
#pip install mysql-connector-python
import mysql.connector
import requests
import urllib.parse
import pandas as pd

In [ ]:
#conexion a base de datos 
conexion = mysql.connector.connect(user='XXX', password='XXX',
                              host='XXX',
                              database='XXX')

In [ ]:
#Traer data de oficinas (Solo código y direccion)
df = pd.read_csv('/content/drive/MyDrive/oficinas2.csv')
df

     CodOficina                                          Direccion
0             2                     AV. LA MARINA 2300, URB. PANDO
1             5  AV. VICTOR RAUL HAYA DE LA TORRE N° 4694,_x000...
2            10                                    AV. PERU No 342
3            14  AV. 9 DE DICIEMBRE 517, Local Comercial N°_x00...
4            23  AV. GUARDIA CIVIL N° 787, URB. CORPAC 3RA._x00...
..          ...                                                ...
283        7011           AV. JOSE CARLOS MARIATEGUI 328 - 2° PISO
284        7012          URB. CONFECCIONES MILITARES MZ. A, LT. 44
285        7013  AV. MAESTRO PERUANO N° 341 - 2° PISO,_x000D_CA...
286        7014                         AV. TUDELA Y VARELA N° 102
287        9211  CENTRO AÉREO COMERCIAL LOCALES 110 A_x000D_Y 1...

[288 rows x 2 columns]

In [ ]:
#Almacenar lat y lon de cada direccion
lista_longitud = []
lista_latitud = []

In [ ]:
contador = 0
for x in df['Direccion'].values:
  print(x)
  
  try:

    url = 'https://nominatim.openstreetmap.org/search/' + urllib.parse.quote(x) +'?format=json'
    response = requests.get(url).json()
    latitud = response[0]["lat"]
    longitud = response[0]["lon"]

    lista_longitud.append(longitud)
    lista_latitud.append(latitud)


  except IndexError:
    lista_longitud.append('NULL')
    lista_latitud.append('NULL')

AV. LA MARINA 2300, URB. PANDO
AV. VICTOR RAUL HAYA DE LA TORRE N° 4694,_x000D_LOCAL B4 Y B5, SECTOR PARQUE GRAN_x000D_CHAVIN
AV. PERU No 342
AV. 9 DE DICIEMBRE 517, Local Comercial N°_x000D_1088
AV. GUARDIA CIVIL N° 787, URB. CORPAC 3RA._x000D_ZONA
AV. AMERICA SUR 4040, MZ. A SUBLOTE 20,_x000D_3RA ETAPA, URB. SAN ANDRES
CA. JOSE ABELARDO QUIÑONES 1780
AV. LOS MAESTROS 206, LF-100 / LF- 111,_x000D_FUNDO SAN JOSE
CA. CASTILLA 370, LOCAL 1
AV. SAÉNZ PEÑA 1771, LOCAL N° 5
AV. CHACHAPOYAS 2044
AV. COLLASUYO 2964 Y 3060, LOCAL LC-109
AV. PANAMERICANA 461 CON CALLE SANTO_x000D_TORIBIO, LOCAL COMERCIAL NRO. 6,_x000D_URBANIZACION SANTA ROSA
AV. FELIPE PARDO Y ALIAGA N° 652, INT. 201_x000D_(2DO. PISO), MZ. 71, LOTE 03, 10 Y 11, URB._x000D_CHACARILLA - SANTA CRUZ
AV. PETIT THOUARS 1789 - 1799
AV. EMANCIPACION 200
AV. SAENZ PEÑA 323
JR. UCAYALI 735
CALLE LOS ALAMOS LOTE 5 MZ C-2_x000D_URBANIZACIÓN EL REMANSO
AV. FAUCETT 216
JR. HUARAZ 1600
AV. LA MOLINA MZ. B LOTE 08, URBANIZACIÓN_x000D_RESIDENCIAL MONTERRICO
AV. VENEZUELA 635
ALFREDO MENDIOLA 3685.
AV. MEXICO 568
AV. GRAU 414 ESQ. CALLE UNION
AV. MANCO CAPAC 300
AV. TUPAC AMARU N° 1175
AV. LARCO 631
AV. BOLIVAR N° 1188 - 1190
AV. 28 DE JULIO 1324
AV. UNIVERSITARIA CDRA. 18-INTERIOR_x000D_U.CATOLICA
AV. MALECON DE LA RIBERA S/N.
AV. CAMINO REAL 355
AV. MEXICO 1298 ESQ. PROLONGACION_x000D_PARINACOCHAS
AV. DEFENSORES DEL MORRO (EX HUAYLAS)_x000D_N° 456 - 458. URBANIZACIÓN LOS LAURELES
AV. NICOLÁS DE PIÉROLA 649
CENTRO COMERCIAL MINKA PABELLÓN 2
AV. PROGRESO 102
JR. CARABAYA 831 – JR. CONTUMAZA 846
AV. NICOLAS ARRIOLA 607
AV. VENEZUELA 1842
AV. LOS PARACAS 203 URB. SALAMANCA
AV. GUARDIA CIVIL 152-156
CALLE ARIAS SCHEREIBER 215-217
AV. RIVERA NAVARRETE N° 815
CALLE VICTOR ANDRES BELAUNDE ESTE N.-_x000D_101 URB. POPULAR REPARTICION
PROLONG. UNANUE 1599
AV. LA UNIVERSIDAD 1810
AV. NICOLAS AYLLON 5345 URB LOS ANGELES
AV. ARENALES 701
JR. LEGUIA Y MELENDEZ 998
AV. ANGAMOS ESTE 1256
AV. LA MARINA 2671
AV. AVIACION 2465-2467
ESQ. AV. AREQUIPA CON JR. RISSO
AV. NICOLAS AYLLON 2032-2036
AV. PARDO 791 - 793 - 795
AV. IGNACIO MERINO 2099
CENTRO AÉREO COMERCIAL LOCALES 110 A_x000D_Y 111 A
AV. MEXICO 1700
AV. VENEZUELA 1254
AV. CTRMTE. MORA S/N BASE NAVAL
CALLE OMEGA 149 PARQUE INDUSTRIAL DEL_x000D_CALLAO
AV ARICA 350
KM. 25 CARRETERA VENTANILLA
AV. COMANDANTE ESPINAR N° 374, 384 y 388
AV. SUCRE 970
AV. ALFREDO MENDIOLA 3698 - C. C. CONO_x000D_NORTE, TIENDAS 2 y 3
AV. PASEO DE LA REPÚBLICA S/N Y CRUCE_x000D_CON AV. BOLIVIA S/N LOCAL LS-15
KM.14.5 PANAMERICANA NORTE ESQ. CON_x000D_AV. GAMARRA
AV. PROL. JAVIER PRADO ESTE 4921
ESQ. JR. CAVENECIA CON CALLE TUDELA Y_x000D_VARELA
AV. JULIO C. TELLO 1002
AV. REPUBLICA DE PANAMA 6261
AV. JUAN PEZET 1425
LOTIZACION INDUSTRIAL SANTA ROSA,_x000D_MANZANA O, LOTES DEL 5 AL 21
AV. TOMAS MARSANO N° 399
AV. JAVIER PRADO ESTE N° 2010, MZ. I-2,_x000D_CALLES MORELLI, CARPACCIO Y UCELLO,_x000D_NÚMERO DE LOCALES 133, 134 (1ER. PISO) Y_x000D_134B (2DO. PISO), URBANIZACIÓN SAN BORJA.
AV. ARAMBURU N° 154-158-162- MIRAFLORES
CALLE LOS LAURELES 214 - OF. 210 ESQ. CON_x000D_LA CUADRA 15 DE DOS DE MAYO
CC Plaza San Miguel, Local B 305, Av._x000D_Universitaria cruce con Av. La Marina, Av. José de_x000D_la Riva Agüero y calle Mantaro
CALLE 23 #273 CORPAC
AV, COLONIAL 4584
AV. SAENZ PEÑA 936
INTERIOR CTEL. GRAL. DEL EJERCITO:AV._x000D_BOULEVARD S/N
AV. NICOLAS ARRIOLA 1799
AV. EL SOL 366 - CUSCO
AV. GARCILASO 300 / HUASCAR - WANCHACK
PORTAL UNIÓN N.- 24, ESQUINA CON JIRÓN 9_x000D_DE DICIEMBRE
AV. SAN MARTIN 1144
AV. EL SOL 366 - CUSCO
CAMPAMENTO MINERO TINTAYA
JR. INDEPENDENCIA N° 1601-1799, CC REAL_x000D_PLAZA HUANUCO, LOCALES COMERCIALES B-_x000D_02/B-04, URBANIZACIÓN LAS MORAS.
AV. UNIVERSITARIA N° 727, URB. PANDO 4TA._x000D_ETAPA
MARISCAL BENAVIDES 117 - 125
AV. VICTOR RAÚL HAYA DE LA TORRE N.- 250,_x000D_LOCAL 1
AV. BOLOGNESI 155 - 157 QUILLABAMBA
SAN FRANCISCO 108 - AREQUIPA
CALLE PERU 324 - AREQUIPA
AV. VENEZUELA S/N C.C. LA NEGRITA TDA. 1 -_x000D_MIRAFLORES
AV. EJERCITO 710 - YANAHUARA
CALLE JACINTO IBAÑEZ N° 521
JR. SAN ROMAN 441 - JULIACA
JR. LIMA 400 - 411 -PUNO
PASAJE MALATESTA 130, JR ABTAO 523
AV. SAN MARTIN 665 - TACNA
JIRÓN 7 DE JUNIO N.- 201
CALLE REAL 631 - 639 - HUANCAYO
AV. HORACIO ZEVALLOS GAMEZ No 406
AV. MARISALCASTILLA 1670, DISTRITO EL_x000D_TAMBO, PROVINCIA HUANCAYO DPTO. JUNÍN
JR. TARMA 444 LA MERCED
SAN FRANCISCO 108 - AREQUIPA
JR. LIBERTAD 141 - 165
ESQ. PEREZ FIGUEROLA / AV._x000D_INDEPENDENCIA PZ. ARMAS -PISCO
AV. 28 DE JULIO 2498 Y AV. PROLONGACION_x000D_HUANUCO 1400, 1404 Y 1408
JR HIPOLITO UNANUE 1616-1620, LOCAL 3
Av. RAMON MUJICA N° 108, LOCAL 108-A,_x000D_URBANIZACIÓN EL CHIPE
AV. HÚSARES DE JUNIN N° 896, URB. LA_x000D_MERCED 2DA. ETAPA
CALLE ATAHUALLPA S/N ESQ. CALLE SAN_x000D_PEDRO 101
JR. SOR MANUELA GIL 151, LOCAL LC-323, 325,_x000D_327
JR. FRANCISCO PIZARRO 620 - TRUJILLO
AV. NICOLAS DE PIEROLA 780 - TRUJILLO
AV. VALLEJO 268 - TRUJILLO
AV. OSCAR R. BENAVIDES 3866, URB EL_x000D_AGUILA, LOCALES COMERCIALES BS-1001 Y_x000D_BS-1002
AV. LARCO 263 - TRUJILLO
URB. CACHIMAYO C-21-A SAN SEBASTIAN
AV. ELMER FAUCETT Y ALEJANDRO_x000D_BERTELLO , LOCAL 13
CALLE 2 ESQ. JR. JOSE SUCRE - PLAZA DE_x000D_ARMAS
AV. RICARDO ELIAS APARICIO 675, LOTE 1,_x000D_MANZANA H. URB. HABILITACION LOTE C,_x000D_SECTOR 1
JR. AREQUIPA No 245 – 249, MZ D, LOTE 5.
CALLE DIEGO LÓPEZ DE ZÚÑIGA N° 262, SUB_x000D_LOTE A
Jr. Bolivar N° 237
ESTACION FERROVIARIA DE HUANCAYO, S/N,_x000D_LOCAL LS-04
CALLE TACNA 598 / AYACUCHO 440 - PIURA
AV. SANCHEZ CERRO 1234
AV. RIVA AGÜERO 1400, 1404,1406 (MZ C,_x000D_LT27)
CENTRO CIVICO 159 - BREA Y PARIÑAS -_x000D_PIURA
JR. JUNÍN N° 263
CALLE PROGRAMA DE VIVIENDA 1RA. ETAPA,_x000D_UNIDAD U-1, NÚCLEO URBANO BUENOS_x000D_AIRES, MZ. F LT. 1
CALLE DERECHA 370
JR. SAN MARTIN 900 - SULLANA
AV. 28 DE JULIO 391 - HUACHO
AV. JOSE GALVEZ 285 - BARRANCA
JR. TARAPACA 719 - 721 - CAJAMARCA
CALLE TACNA 598 / AYACUCHO 440 - PIURA
AV. BALTA 651 - 2° PISO - CHICLAYO
JR. FRANCISCO PIZARRO 620 - TRUJILLO - 2°_x000D_PISO
CAL SAN MARTIN. 1499
AV. ELMER FAUCETT 6000
CRUCE AV. TOMAS VALLE CON_x000D_PANAMERICANA NORTE, LOCAL CF-06
AV. BALTA 651 - CHICLAYO
AV. ARICA 1030 - 1032 -CHICLAYO
CALLE DOS DE MAYO No 9 -PACASMAYO
AV. FRANCISCO BOLOGNESI 696 - CHIMBOTE
JR. ELIAS AGUIRRE N° 498, CON JR. LADISLAO_x000D_ESPINAR N° 600
ESQ AV SAN MARTIN C-5 Y AV. AUGUSTO B_x000D_LEGUÍA C-7
SARGENTO LORES 171
PROSPERO 1195
SARGENTO LORES 171
UCAYALI ESQUINA RAYMONDI 699
AV. INDUSTRIAL N.- 3515- 3517 - LOTES 73 - 74
AV. TOMAS VALLE S/N CDRA 7
JR. RAMIREZ HURTADO 149
MARISCAL BENAVIDES 117 - 125
AV. ALFREDO MENDIOLA 7859
JR. SAN MARTIN 490-494
AV ASTURIAS 588 ATE - INSTALACIÓN DE LA_x000D_PLANTA BACKUS
CARRETERA PANAMERICANA URB. SANTO_x000D_DOMINGO MZ C LOTE 4
AV. PROLONGACIÓN PASEO DE LA_x000D_REPÚBLICA S/N - C.C.PLAZA LIMA SUR
AV. RAYMONDI 543
AV. CARLOS IZAGUIRRE N.- 929
SARGENTO LORES 130-132
JIRÓN CANGALLO N.- 180
AV. LA CULTURA S/N TIENDA N-2 ALT KM 3.5_x000D_CARRETERA CENTRAL
AV. LARCO 1204
AV. CIRCUNVALACION N° 1999
AV. INDUSTRIAL N.- 3515, 3517, LOTES 73 - 74._x000D_PANAMERICANA NORTE MZ F - SUB LOTE B
MZ C-3, LOTE 19 - MALECÓN ANDRÉS AVELINO_x000D_CÁCERES DE LA URBANIZACIÓN EX ZONA_x000D_COMERCIAL E INDUSTRIAL DE VENTANILLA
AV. 28 DE JULIO 775
AV. LA ROSA TORO 998
AV. CARLOS IZAGUIRRE N.- 275
AV. VENEZUELA S/N CDRA 34
JR. PARURO N°875- 877
AV. LA MOLINA 540 - 2DO PISO
C.C. REAL PLAZA CHICLAYO. AV. MIGUEL DE_x000D_CERVANTES
AV. NICOLÁS DE PIÉROLA 649 - 2DO PISO
AV. SAENZ PEÑA 323 - 2° PISO
CALLE LAS TIENDAS 209, ALT. CDRA. 7 Y 8 AV._x000D_ARAMBURU
Av. Arenales N° 1500, esquina con Av. Domingo_x000D_Cueto
AV. LAS BEGONIAS 425 - 429
AV. AVIACION 2801 - 2805
AV. PETIT THOUARS N° 2790 ESQ. JR. PERCY_x000D_GIBSON
Av. Javier Prado Este 2884, distrito San Borja
AV. BASADRE 133
AV. ABANCAY 260-262
CALLE OMEGA 149 PARQUE INDUSTRIAL DEL_x000D_CALLAO - 3° PISO
JORGE BASADRE 487
AV. CONQUISTADORES 1099.
AV. BENAVIDES CUADRA 1871
AV. RICARDO PALMA 296 - 298
AV. CONQUISTADORES 701
AV. AVIACIÓN N° 3328 (LOTE 6, MZ. B1)._x000D_URBANIZACIÓN LAS MAGNOLIAS
AV. DOS DE MAYO 1198
AV. SANTA CRUZ 695 PISO 2
AV. LARCO 1204 - 2° PISO
AV. PRIMAVERA 1050 - 4TO PISO,_x000D_URBANIZACIÓN CHACARILLA DEL ESTANQUE
AV. CONTRALMIRANTE RAYGADA N°111
AV. VENEZUELA 5414 ESQ. CON AV. FAUCETT_x000D_LOCALES Nos. 1152 y 1160
AV. DOS DE MAYO 1198 - 2° PISO
AV. VENEZUELA 2580
AV. CANAVAL Y MOREYRA 243 - 245
CALLEJON VILLEGAS 405 - 407 Y CALLE UNO_x000D_107 - 111
Av. Antunez de Mayolo No. 1400, Distrito Los_x000D_Olivos
AV. REP. DE PANAMA 3055 - 1ER. PISO
AV. REP. DE PANAMA 3055 - 1ER. PISO
MZ. K, SUB LOTE 4A, PARCELA A-1._x000D_LOTIZACIÓN INFANTAS, LOCAL COMERCIAL N°_x000D_2
AV. DEL EJERCITO 789 ESQUINA CALLE JOSE_x000D_TORIBIO POLO 286
AV. CORONEL MENDOZA N.- 1337
AV. REPUBLICA DE PANAMA N°3055, PISO 3
AV. REPUBLICA DE PANAMA N°3055, PISO 3
CA. RAMÓN CASTILLA N° 848 - 854
AV. CANADA 753 - 757
AV. LA MARINA 495, URB. BENJAMIN DOIG_x000D_LOSSIO
AV. LA MARINA N° 2355 CENTRO COMERCIAL_x000D_LA MARINA LOCAL B-02
AV. ARGENTINA N. 500
AV. 15 DE JULIO, LOTE 33 , PROGRAMA_x000D_ESPECIAL HUAYCAN, ZONA B
AV. REPUBLICA DE PANAMÁ 3055
AV. ANGAMOS N° 1803, CENTRO COMERCIAL_x000D_OPEN PLAZA TIENDA LC-62
AV. 28 DE JULIO 800 ESQUINA CON CALLE_x000D_GRIMALDO DEL SOLAR
INTERSECCIÓN DE AV. MARISCAL CÁCERES Y_x000D_AV. IRAZOLA, SUB LT 1-D, LOCAL B-3, URB._x000D_MIRAFLORES
PLAZA BUTTERS 301
AV. ALFONSO UGARTE 279-293 ESQUINA_x000D_PLAZA CASTILLA 101-131 ESQUINA JR. OROYA_x000D_242-292, LOCAL 1148.
C.C. REAL PLAZA JULIACA, JR. SAN MARTIN N°_x000D_218 Y JR. TUMBES N° 499, URB. CERCADO,_x000D_LOCAL COMERCIAL N° LS-02
JR. INDEPENDENCIA MZ. R, SUB LOTE 13-A,_x000D_ASENTAMIENTO HUMANO BAJO PICHANAQUI_x000D_1, SECTOR ZONA BAJA
AV. COLONIAL 1381
AV. LA MOLINA 540
CALLE CHOPIN MZ. A-16, LT. 29, ESQUINA CON_x000D_AV. SAN LUIS, URB. SAN BORJA, II ETAPA
Av. Angamos Este 215 - 227, esquina con Av. Petit_x000D_Thouars 5091
MICAELA BASTIDAS 1273 - EL PORVENIR -_x000D_TRUJILLO
KM. 1 AUTOPISTA RAMIRO PRIALE (AL_x000D_INTERIOR DE LA ATARJEA SEDAPAL)
JR. MANUEL PRADO N° 217
JR. AREQUIPA 301 - TARMA - TARMA
AV. ANAXIMANDRO VEGA 413 - 417
CALLE COLON NRO. 601 CENTRO COMERCIAL_x000D_PLAZA DEL SOL HUACHO - DISTRITO DE_x000D_HUACHO - PROV. DE HUAURA
AV. IQUITOS 795-799, ESQUINA CON_x000D_SEBASTIÁN BARRANCA 209-211-213
AV. REPUBLICA DE PANAMA 3055 - PISO 1_x000D_HALL 2 - URB. CORPAC
AV. REP. DE PANAMA 3055 - 1ER. PISO
AV. SÁNCHEZ CERRO, SUB LOTE NÚMERO 234_x000D_- 239A, LOCAL LS-02, ZONA INDUSTRIAL
AV. CARRETERA CENTRAL 111, LOCAL_x000D_COMERCIAL N° LF-1A
Av. Santa Cruz N° 695
PANAMERICANA NORTE KM. 13,5 ENTRE LA_x000D_AV. VICTOR A. BELAUNDE Y CALLE GONZALEZ_x000D_- INTERIOR EX AERÓDROMO COLLIQUE
AV. NICOLAS AYLLON 8694, TIENDA LC-105._x000D_REFERENCIA: CARRETERA CENTRAL CRUCE_x000D_CON LA AV. ESTRELLA (PLAZA VEA)
AV. UNIVERSITARIA 10583 - 10587, MZ. X, LT. 3 -_x000D_SECTOR B - URBANIZACIÓN SAN FELIPE
URB. LA CAMPIÑA PAISAJISTA S/N QUINTA_x000D_VIVANCO - UNIVERSIDAD CATÓLICA SAN_x000D_PABLO - AREQUIPA
HABILITACIÓN URBANA CENTRO POBLADO DE_x000D_SERVICIOS BÁSICOS EL PEDREGAL MZ G_x000D_LOTE 2, MAJES, AREQUIPA
AV. PORONGOCHE NRO. 500, LOCAL_x000D_COMERCIAL LF-7. DISTRITO DE PAUCARPATA.
AV. LA FONTANA 371, MANZANA A, LOTE 7,_x000D_URBANIZACION LA FONTANA
AV. JUAN TOMAS STACK 250, LOCAL 1180 -_x000D_URB. SANTA ELENA.
JR. TAHUANTINSUYO 298, BARRIO COMERCIO
JR. DOS DE MAYO N° 1137
AV. ALFREDO MENDIOLA 3520
AV. TUPAC AMARU 3368, ASENTAMIENTO_x000D_HUMANO PROGRESO 2DO SECTOR
MZ. J, LOTE 01, LOCAL COMERCIAL 1088._x000D_URBANIZACIÓN VISTA HERMOSA.
AV. UNIVERSITARIA NORTE 7103, MZ. H, LT._x000D_22, URBANIZACIÓN EL RETABLO, II ETAPA
Av. Alameda Sur, esquina con Av. San Marcos,_x000D_Parcela 2
JR. REAL 305
AV. MANCO CAPAC NRO. 113
JR. DOS DE MAYO 702 - BARRIO CASCAYUNGA
C.C. MALL PLAZA TRUJILLO. ESQUINA_x000D_AVENIDA MANSICHE Y AMERICA OESTE_x000D_LOCALES B-1245,1247,1251
AV. JOSE ABELARDO QUIÑONES 700, URB._x000D_BARRIO MAGISTERIAL
AV. REP. DE PANAMA 3055 - 1ER. PISO
C.C. REAL PLAZA TRUJILLO. AV. CESAR_x000D_VALLEJO CON AV. FÁTIMA
AV. ELMERT FAUCETT N°2121 LOCALES N° 2-_x000D_101, 2-102, 2-103
MZ F. LOTES 1 Y 2, ASOCIACIÓN DE_x000D_PROPIETARIOS DE LA URBANIZACIÓN LAS_x000D_VIRREYNAS.
AV. JOSE PARDO N° 320
AV. REP. DE PANAMA 3055 - 1ER. PISO
CALLE REAL N° 631-639, 2°PISO
AV. NARANJAL 1425, LOTE 13, MZ I-2
AV. CENTENARIO NRO. 2086 Y 2192_x000D_(INGRESOS 001 Y 002), JR. LAUREANO DEL_x000D_ÁGUILA NRO. 264 (INGRESO 003) Y AV._x000D_AMAZONAS NRO. 2752 (INGRESO 004)
AV. CAMINO REAL N° 355, 349 Y CALLE_x000D_CONQUISTADORES N° 150
CALLE LAS ALONDRAS 257
Av. RAMON MUJICA N° 108, OFICINA N° 201,_x000D_URBANIZACIÓN EL CHIPE
AV. JOSE CARLOS MARIATEGUI 328 - 2° PISO
URB. CONFECCIONES MILITARES MZ. A, LT. 44
AV. MAESTRO PERUANO N° 341 - 2° PISO,_x000D_CARABAYLLO
AV. TUDELA Y VARELA N° 102
CENTRO AÉREO COMERCIAL LOCALES 110 A_x000D_Y 111 A

In [ ]:
print(lista_latitud)
print(lista_longitud)

['NULL', 'NULL', 'NULL', 'NULL', 'NULL', 'NULL', 'NULL', 'NULL', 'NULL', 'NULL', '-5.7537464', 'NULL', 'NULL', 'NULL', 'NULL', '-12.0481402', '-12.0608139', 'NULL', 'NULL', '-12.0392123', 'NULL', 'NULL', '-36.224168285714285', '-12.0078202', '-36.633931051020404', 'NULL', '-12.0414104', 'NULL', '-7.8360863', '-37.3337919', '-15.3699447', 'NULL', 'NULL', '25.6597645', 'NULL', 'NULL', '-12.049652369387756', 'NULL', '20.6410717', 'NULL', '-12.0685572', '-22.8956763', 'NULL', '40.0908836', '-12.1159333', 'NULL', 'NULL', 'NULL', '-12.0822932', 'NULL', '-12.2138238', 'NULL', '-12.1135596', '-8.1299335', '-15.4795672', 'NULL', '-11.9676719', 'NULL', '-5.174596', 'NULL', '-12.07192895', '-22.8956763', 'NULL', 'NULL', '-12.0548117', '-11.8967006', 'NULL', '-33.45003687952756', 'NULL', 'NULL', 'NULL', 'NULL', 'NULL', '-12.040400481632654', '9.9258851', 'NULL', 'NULL', '-18.0546679', 'NULL', 'NULL', 'NULL', 'NULL', '-12.098512', 'NULL', '-12.060048', 'NULL', '-12.0685572', '-13.5177562', 'NULL', 'NULL', '-17.7619241', '-13.5177562', 'NULL', 'NULL', 'NULL', '-16.38858', 'NULL', '-12.8647528', '-16.398192899999998', '-16.4027143', 'NULL', '-16.3912414', 'NULL', 'NULL', 'NULL', 'NULL', '-18.0102213', '-16.4399036', '-12.0769829', 'NULL', 'NULL', 'NULL', '-16.398192899999998', 'NULL', 'NULL', 'NULL', 'NULL', 'NULL', 'NULL', 'NULL', 'NULL', 'NULL', 'NULL', 'NULL', 'NULL', '-8.144162', 'NULL', 'NULL', 'NULL', 'NULL', 'NULL', 'NULL', 'NULL', 'NULL', 'NULL', '-12.064488', 'NULL', 'NULL', 'NULL', 'NULL', '41.8131215', 'NULL', '-11.1080649', '-10.7600446', 'NULL', 'NULL', 'NULL', 'NULL', '42.0227133', '-12.045328', 'NULL', 'NULL', '-6.7667753', 'NULL', '-9.1050154', 'NULL', 'NULL', '-9.036518', '-34.5929056', '-9.036518', 'NULL', 'NULL', 'NULL', 'NULL', '-16.38858', '-12.0204728', '-25.0671911', 'NULL', 'NULL', 'NULL', '-8.3951206', '-11.9883283', '-9.036518', '-12.0510479', 'NULL', '-7.8360863', '-37.2418562', 'NULL', 'NULL', '-12.064153727272727', 'NULL', '-11.9883283', 'NULL', 'NULL', 'NULL', 'NULL', 'NULL', 'NULL', 'NULL', 'NULL', '-5.0925044', '-15.4795672', 'NULL', 'NULL', '-17.9942453', '-12.0488087', 'NULL', '-18.034465', '37.132773', 'NULL', '-12.1191783', '37.132773', 'NULL', '42.4607969', 'NULL', 'NULL', 'NULL', 'NULL', 'NULL', 'NULL', '-22.8956763', 'NULL', 'NULL', 'NULL', 'NULL', 'NULL', 'NULL', 'NULL', 'NULL', 'NULL', 'NULL', 'NULL', 'NULL', 'NULL', 'NULL', '-16.5006566', 'NULL', '-12.09392345', 'NULL', 'NULL', 'NULL', 'NULL', 'NULL', 'NULL', 'NULL', '-12.048042281818182', '-12.0849965', 'NULL', 'NULL', 'NULL', 'NULL', 'NULL', 'NULL', 'NULL', 'NULL', 'NULL', 'NULL', 'NULL', 'NULL', 'NULL', 'NULL', 'NULL', 'NULL', 'NULL', 'NULL', 'NULL', 'NULL', 'NULL', 'NULL', 'NULL', 'NULL', '-12.0204728', 'NULL', 'NULL', 'NULL', 'NULL', '-23.444486', 'NULL', 'NULL', 'NULL', 'NULL', 'NULL', 'NULL', 'NULL', 'NULL', '-11.9361017', 'NULL', 'NULL', 'NULL', 'NULL', 'NULL', '40.330547', 'NULL', 'NULL', 'NULL', 'NULL', '-12.1091989', 'NULL']
['NULL', 'NULL', 'NULL', 'NULL', 'NULL', 'NULL', 'NULL', 'NULL', 'NULL', 'NULL', '-78.4453115', 'NULL', 'NULL', 'NULL', 'NULL', '-77.0343509', '-77.1442298', 'NULL', 'NULL', '-77.099173', 'NULL', 'NULL', '-61.119845620408164', '-77.0610497', '-64.28236475714286', 'NULL', '-77.0960734', 'NULL', '-79.1593272', '-59.1249939', '-75.1563913', 'NULL', 'NULL', '-100.2293202', 'NULL', 'NULL', '-77.03756110204081', 'NULL', '-100.986465', 'NULL', '-76.9968415', '-43.186786', 'NULL', '-4.1166515', '-77.0112133', 'NULL', 'NULL', 'NULL', '-76.9282728', 'NULL', '-76.8795444', 'NULL', '-77.0276913', '-79.0212736', '-70.1547114', 'NULL', '-76.7431393', 'NULL', '-80.6455394', 'NULL', '-77.01122642864192', '-43.186786', 'NULL', 'NULL', '-77.0597552', '-77.1263371', 'NULL', '-70.62064842283465', 'NULL', 'NULL', 'NULL', 'NULL', 'NULL', '-77.0885838489796', '-84.0829328', 'NULL', 'NULL', '-70.2549351', 'NULL', 'NULL', 'NULL', 'NULL', '-77.0170401', 'NULL', '-77.1379535', 'NULL', '-76.9968415', '-71.9788891', 'NULL', 'NULL', '-63.19747115', '-71.9788891', 'NULL', 'NULL', 'NULL', '-71.5305711', 'NULL', '-72.6943379', '-71.5357661699918', '-71.5341968', 'NULL', '-71.5429518', 'NULL', 'NULL', 'NULL', 'NULL', '-70.2457924', '-71.5791521', '-75.2051175', 'NULL', 'NULL', 'NULL', '-71.5357661699918', 'NULL', 'NULL', 'NULL', 'NULL', 'NULL', 'NULL', 'NULL', 'NULL', 'NULL', 'NULL', 'NULL', 'NULL', '-79.0280061', 'NULL', 'NULL', 'NULL', 'NULL', 'NULL', 'NULL', 'NULL', 'NULL', 'NULL', '-77.002212', 'NULL', 'NULL', 'NULL', 'NULL', '-5.4730508', 'NULL', '-77.6137964', '-77.7536798', 'NULL', 'NULL', 'NULL', 'NULL', '2.7009591', '-77.0987369', 'NULL', 'NULL', '-79.8264474', 'NULL', '-78.5566677', 'NULL', 'NULL', '-75.5076842', '-58.5272902', '-75.5076842', 'NULL', 'NULL', 'NULL', 'NULL', '-71.5305711', '-77.0595069', '-50.0951285', 'NULL', 'NULL', 'NULL', '-77.4929586', '-77.1232912', '-75.5076842', '-77.0210737', 'NULL', '-79.1593272', '-56.9768716', 'NULL', 'NULL', '-77.03795617272728', 'NULL', '-77.1232912', 'NULL', 'NULL', 'NULL', 'NULL', 'NULL', 'NULL', 'NULL', 'NULL', '-81.093442', '-70.1547114', 'NULL', 'NULL', '-70.2483994', '-77.0273179', 'NULL', '-70.2778682', '-6.8263123', 'NULL', '-77.0274482', '-6.8263123', 'NULL', '-6.0563872', 'NULL', 'NULL', 'NULL', 'NULL', 'NULL', 'NULL', '-43.186786', 'NULL', 'NULL', 'NULL', 'NULL', 'NULL', 'NULL', 'NULL', 'NULL', 'NULL', 'NULL', 'NULL', 'NULL', 'NULL', 'NULL', '-68.1187188', 'NULL', '-77.02114315486652', 'NULL', 'NULL', 'NULL', 'NULL', 'NULL', 'NULL', 'NULL', '-77.06067837272727', '-76.9245731', 'NULL', 'NULL', 'NULL', 'NULL', 'NULL', 'NULL', 'NULL', 'NULL', 'NULL', 'NULL', 'NULL', 'NULL', 'NULL', 'NULL', 'NULL', 'NULL', 'NULL', 'NULL', 'NULL', 'NULL', 'NULL', 'NULL', 'NULL', 'NULL', '-77.0595069', 'NULL', 'NULL', 'NULL', 'NULL', '-51.9736737', 'NULL', 'NULL', 'NULL', 'NULL', 'NULL', 'NULL', 'NULL', 'NULL', '-77.0394782', 'NULL', 'NULL', 'NULL', 'NULL', 'NULL', '-1.0965657', 'NULL', 'NULL', 'NULL', 'NULL', '-77.0413684', 'NULL']

In [ ]:
#Pasar las listas a cada columna
df['Latitud'] = lista_latitud
df['Longitud'] = lista_longitud

In [ ]:
#Almacenar las sentencias de UPDATE para agregar la data a la tabla oficina
QUERY_COORDENADAS = []

In [ ]:
for i in range(df.shape[0]):
  QUERY_COORDENADAS.append('UPDATE X SET Latitud ="'+ df.iloc[i,2] + '", Longitud ="' + df.iloc[i,3] + '" WHERE CodOficina ='+ str(df.iloc[i, 0]))

In [ ]:
QUERY_COORDENADAS

['UPDATE oficina SET Latitud ="NULL", Longitud ="NULL" WHERE CodOficina =2',
 'UPDATE oficina SET Latitud ="NULL", Longitud ="NULL" WHERE CodOficina =5',
 'UPDATE oficina SET Latitud ="NULL", Longitud ="NULL" WHERE CodOficina =10',
 'UPDATE oficina SET Latitud ="NULL", Longitud ="NULL" WHERE CodOficina =14',
 'UPDATE oficina SET Latitud ="NULL", Longitud ="NULL" WHERE CodOficina =23',
 'UPDATE oficina SET Latitud ="NULL", Longitud ="NULL" WHERE CodOficina =30',
 'UPDATE oficina SET Latitud ="NULL", Longitud ="NULL" WHERE CodOficina =50',
 'UPDATE oficina SET Latitud ="NULL", Longitud ="NULL" WHERE CodOficina =53',
 'UPDATE oficina SET Latitud ="NULL", Longitud ="NULL" WHERE CodOficina =58',
 'UPDATE oficina SET Latitud ="NULL", Longitud ="NULL" WHERE CodOficina =59',
 'UPDATE oficina SET Latitud ="-5.7537464", Longitud ="-78.4453115" WHERE CodOficina =81',
 'UPDATE oficina SET Latitud ="NULL", Longitud ="NULL" WHERE CodOficina =83',
 'UPDATE oficina SET Latitud ="NULL", Longitud ="NULL" WHERE CodOficina =87',
 'UPDATE oficina SET Latitud ="NULL", Longitud ="NULL" WHERE CodOficina =91',
 'UPDATE oficina SET Latitud ="NULL", Longitud ="NULL" WHERE CodOficina =93',
 'UPDATE oficina SET Latitud ="-12.0481402", Longitud ="-77.0343509" WHERE CodOficina =101',
 'UPDATE oficina SET Latitud ="-12.0608139", Longitud ="-77.1442298" WHERE CodOficina =102',
 'UPDATE oficina SET Latitud ="NULL", Longitud ="NULL" WHERE CodOficina =103',
 'UPDATE oficina SET Latitud ="NULL", Longitud ="NULL" WHERE CodOficina =106',
 'UPDATE oficina SET Latitud ="-12.0392123", Longitud ="-77.099173" WHERE CodOficina =107',
 'UPDATE oficina SET Latitud ="NULL", Longitud ="NULL" WHERE CodOficina =108',
 'UPDATE oficina SET Latitud ="NULL", Longitud ="NULL" WHERE CodOficina =109',
 'UPDATE oficina SET Latitud ="-36.224168285714285", Longitud ="-61.119845620408164" WHERE CodOficina =110',
 'UPDATE oficina SET Latitud ="-12.0078202", Longitud ="-77.0610497" WHERE CodOficina =111',
 'UPDATE oficina SET Latitud ="-36.633931051020404", Longitud ="-64.28236475714286" WHERE CodOficina =112',
 'UPDATE oficina SET Latitud ="NULL", Longitud ="NULL" WHERE CodOficina =114',
 'UPDATE oficina SET Latitud ="-12.0414104", Longitud ="-77.0960734" WHERE CodOficina =115',
 'UPDATE oficina SET Latitud ="NULL", Longitud ="NULL" WHERE CodOficina =116',
 'UPDATE oficina SET Latitud ="-7.8360863", Longitud ="-79.1593272" WHERE CodOficina =117',
 'UPDATE oficina SET Latitud ="-37.3337919", Longitud ="-59.1249939" WHERE CodOficina =118',
 'UPDATE oficina SET Latitud ="-15.3699447", Longitud ="-75.1563913" WHERE CodOficina =119',
 'UPDATE oficina SET Latitud ="NULL", Longitud ="NULL" WHERE CodOficina =120',
 'UPDATE oficina SET Latitud ="NULL", Longitud ="NULL" WHERE CodOficina =121',
 'UPDATE oficina SET Latitud ="25.6597645", Longitud ="-100.2293202" WHERE CodOficina =123',
 'UPDATE oficina SET Latitud ="NULL", Longitud ="NULL" WHERE CodOficina =124',
 'UPDATE oficina SET Latitud ="NULL", Longitud ="NULL" WHERE CodOficina =125',
 'UPDATE oficina SET Latitud ="-12.049652369387756", Longitud ="-77.03756110204081" WHERE CodOficina =126',
 'UPDATE oficina SET Latitud ="NULL", Longitud ="NULL" WHERE CodOficina =127',
 'UPDATE oficina SET Latitud ="20.6410717", Longitud ="-100.986465" WHERE CodOficina =129',
 'UPDATE oficina SET Latitud ="NULL", Longitud ="NULL" WHERE CodOficina =130',
 'UPDATE oficina SET Latitud ="-12.0685572", Longitud ="-76.9968415" WHERE CodOficina =131',
 'UPDATE oficina SET Latitud ="-22.8956763", Longitud ="-43.186786" WHERE CodOficina =132',
 'UPDATE oficina SET Latitud ="NULL", Longitud ="NULL" WHERE CodOficina =136',
 'UPDATE oficina SET Latitud ="40.0908836", Longitud ="-4.1166515" WHERE CodOficina =137',
 'UPDATE oficina SET Latitud ="-12.1159333", Longitud ="-77.0112133" WHERE CodOficina =138',
 'UPDATE oficina SET Latitud ="NULL", Longitud ="NULL" WHERE CodOficina =142',
 'UPDATE oficina SET Latitud ="NULL", Longitud ="NULL" WHERE CodOficina =143',
 'UPDATE oficina SET Latitud ="NULL", Longitud ="NULL" WHERE CodOficina =144',
 'UPDATE oficina SET Latitud ="-12.0822932", Longitud ="-76.9282728" WHERE CodOficina =145',
 'UPDATE oficina SET Latitud ="NULL", Longitud ="NULL" WHERE CodOficina =146',
 'UPDATE oficina SET Latitud ="-12.2138238", Longitud ="-76.8795444" WHERE CodOficina =147',
 'UPDATE oficina SET Latitud ="NULL", Longitud ="NULL" WHERE CodOficina =148',
 'UPDATE oficina SET Latitud ="-12.1135596", Longitud ="-77.0276913" WHERE CodOficina =149',
 'UPDATE oficina SET Latitud ="-8.1299335", Longitud ="-79.0212736" WHERE CodOficina =151',
 'UPDATE oficina SET Latitud ="-15.4795672", Longitud ="-70.1547114" WHERE CodOficina =152',
 'UPDATE oficina SET Latitud ="NULL", Longitud ="NULL" WHERE CodOficina =153',
 'UPDATE oficina SET Latitud ="-11.9676719", Longitud ="-76.7431393" WHERE CodOficina =155',
 'UPDATE oficina SET Latitud ="NULL", Longitud ="NULL" WHERE CodOficina =156',
 'UPDATE oficina SET Latitud ="-5.174596", Longitud ="-80.6455394" WHERE CodOficina =161',
 'UPDATE oficina SET Latitud ="NULL", Longitud ="NULL" WHERE CodOficina =162',
 'UPDATE oficina SET Latitud ="-12.07192895", Longitud ="-77.01122642864192" WHERE CodOficina =163',
 'UPDATE oficina SET Latitud ="-22.8956763", Longitud ="-43.186786" WHERE CodOficina =164',
 'UPDATE oficina SET Latitud ="NULL", Longitud ="NULL" WHERE CodOficina =165',
 'UPDATE oficina SET Latitud ="NULL", Longitud ="NULL" WHERE CodOficina =166',
 'UPDATE oficina SET Latitud ="-12.0548117", Longitud ="-77.0597552" WHERE CodOficina =167',
 'UPDATE oficina SET Latitud ="-11.8967006", Longitud ="-77.1263371" WHERE CodOficina =168',
 'UPDATE oficina SET Latitud ="NULL", Longitud ="NULL" WHERE CodOficina =169',
 'UPDATE oficina SET Latitud ="-33.45003687952756", Longitud ="-70.62064842283465" WHERE CodOficina =170',
 'UPDATE oficina SET Latitud ="NULL", Longitud ="NULL" WHERE CodOficina =174',
 'UPDATE oficina SET Latitud ="NULL", Longitud ="NULL" WHERE CodOficina =175',
 'UPDATE oficina SET Latitud ="NULL", Longitud ="NULL" WHERE CodOficina =176',
 'UPDATE oficina SET Latitud ="NULL", Longitud ="NULL" WHERE CodOficina =178',
 'UPDATE oficina SET Latitud ="NULL", Longitud ="NULL" WHERE CodOficina =179',
 'UPDATE oficina SET Latitud ="-12.040400481632654", Longitud ="-77.0885838489796" WHERE CodOficina =180',
 'UPDATE oficina SET Latitud ="9.9258851", Longitud ="-84.0829328" WHERE CodOficina =181',
 'UPDATE oficina SET Latitud ="NULL", Longitud ="NULL" WHERE CodOficina =182',
 'UPDATE oficina SET Latitud ="NULL", Longitud ="NULL" WHERE CodOficina =183',
 'UPDATE oficina SET Latitud ="-18.0546679", Longitud ="-70.2549351" WHERE CodOficina =185',
 'UPDATE oficina SET Latitud ="NULL", Longitud ="NULL" WHERE CodOficina =186',
 'UPDATE oficina SET Latitud ="NULL", Longitud ="NULL" WHERE CodOficina =187',
 'UPDATE oficina SET Latitud ="NULL", Longitud ="NULL" WHERE CodOficina =189',
 'UPDATE oficina SET Latitud ="NULL", Longitud ="NULL" WHERE CodOficina =190',
 'UPDATE oficina SET Latitud ="-12.098512", Longitud ="-77.0170401" WHERE CodOficina =191',
 'UPDATE oficina SET Latitud ="NULL", Longitud ="NULL" WHERE CodOficina =192',
 'UPDATE oficina SET Latitud ="-12.060048", Longitud ="-77.1379535" WHERE CodOficina =193',
 'UPDATE oficina SET Latitud ="NULL", Longitud ="NULL" WHERE CodOficina =195',
 'UPDATE oficina SET Latitud ="-12.0685572", Longitud ="-76.9968415" WHERE CodOficina =197',
 'UPDATE oficina SET Latitud ="-13.5177562", Longitud ="-71.9788891" WHERE CodOficina =200',
 'UPDATE oficina SET Latitud ="NULL", Longitud ="NULL" WHERE CodOficina =201',
 'UPDATE oficina SET Latitud ="NULL", Longitud ="NULL" WHERE CodOficina =202',
 'UPDATE oficina SET Latitud ="-17.7619241", Longitud ="-63.19747115" WHERE CodOficina =203',
 'UPDATE oficina SET Latitud ="-13.5177562", Longitud ="-71.9788891" WHERE CodOficina =204',
 'UPDATE oficina SET Latitud ="NULL", Longitud ="NULL" WHERE CodOficina =205',
 'UPDATE oficina SET Latitud ="NULL", Longitud ="NULL" WHERE CodOficina =210',
 'UPDATE oficina SET Latitud ="NULL", Longitud ="NULL" WHERE CodOficina =214',
 'UPDATE oficina SET Latitud ="-16.38858", Longitud ="-71.5305711" WHERE CodOficina =215',
 'UPDATE oficina SET Latitud ="NULL", Longitud ="NULL" WHERE CodOficina =216',
 'UPDATE oficina SET Latitud ="-12.8647528", Longitud ="-72.6943379" WHERE CodOficina =218',
 'UPDATE oficina SET Latitud ="-16.398192899999998", Longitud ="-71.5357661699918" WHERE CodOficina =220',
 'UPDATE oficina SET Latitud ="-16.4027143", Longitud ="-71.5341968" WHERE CodOficina =221',
 'UPDATE oficina SET Latitud ="NULL", Longitud ="NULL" WHERE CodOficina =222',
 'UPDATE oficina SET Latitud ="-16.3912414", Longitud ="-71.5429518" WHERE CodOficina =223',
 'UPDATE oficina SET Latitud ="NULL", Longitud ="NULL" WHERE CodOficina =226',
 'UPDATE oficina SET Latitud ="NULL", Longitud ="NULL" WHERE CodOficina =228',
 'UPDATE oficina SET Latitud ="NULL", Longitud ="NULL" WHERE CodOficina =229',
 'UPDATE oficina SET Latitud ="NULL", Longitud ="NULL" WHERE CodOficina =231',
 'UPDATE oficina SET Latitud ="-18.0102213", Longitud ="-70.2457924" WHERE CodOficina =232',
 'UPDATE oficina SET Latitud ="-16.4399036", Longitud ="-71.5791521" WHERE CodOficina =233',
 'UPDATE oficina SET Latitud ="-12.0769829", Longitud ="-75.2051175" WHERE CodOficina =235',
 'UPDATE oficina SET Latitud ="NULL", Longitud ="NULL" WHERE CodOficina =236',
 'UPDATE oficina SET Latitud ="NULL", Longitud ="NULL" WHERE CodOficina =237',
 'UPDATE oficina SET Latitud ="NULL", Longitud ="NULL" WHERE CodOficina =238',
 'UPDATE oficina SET Latitud ="-16.398192899999998", Longitud ="-71.5357661699918" WHERE CodOficina =239',
 'UPDATE oficina SET Latitud ="NULL", Longitud ="NULL" WHERE CodOficina =240',
 'UPDATE oficina SET Latitud ="NULL", Longitud ="NULL" WHERE CodOficina =241',
 'UPDATE oficina SET Latitud ="NULL", Longitud ="NULL" WHERE CodOficina =242',
 'UPDATE oficina SET Latitud ="NULL", Longitud ="NULL" WHERE CodOficina =244',
 'UPDATE oficina SET Latitud ="NULL", Longitud ="NULL" WHERE CodOficina =245',
 'UPDATE oficina SET Latitud ="NULL", Longitud ="NULL" WHERE CodOficina =246',
 'UPDATE oficina SET Latitud ="NULL", Longitud ="NULL" WHERE CodOficina =247',
 'UPDATE oficina SET Latitud ="NULL", Longitud ="NULL" WHERE CodOficina =248',
 'UPDATE oficina SET Latitud ="NULL", Longitud ="NULL" WHERE CodOficina =249',
 'UPDATE oficina SET Latitud ="NULL", Longitud ="NULL" WHERE CodOficina =250',
 'UPDATE oficina SET Latitud ="NULL", Longitud ="NULL" WHERE CodOficina =251',
 'UPDATE oficina SET Latitud ="NULL", Longitud ="NULL" WHERE CodOficina =252',
 'UPDATE oficina SET Latitud ="-8.144162", Longitud ="-79.0280061" WHERE CodOficina =254',
 'UPDATE oficina SET Latitud ="NULL", Longitud ="NULL" WHERE CodOficina =258',
 'UPDATE oficina SET Latitud ="NULL", Longitud ="NULL" WHERE CodOficina =259',
 'UPDATE oficina SET Latitud ="NULL", Longitud ="NULL" WHERE CodOficina =260',
 'UPDATE oficina SET Latitud ="NULL", Longitud ="NULL" WHERE CodOficina =262',
 'UPDATE oficina SET Latitud ="NULL", Longitud ="NULL" WHERE CodOficina =263',
 'UPDATE oficina SET Latitud ="NULL", Longitud ="NULL" WHERE CodOficina =264',
 'UPDATE oficina SET Latitud ="NULL", Longitud ="NULL" WHERE CodOficina =265',
 'UPDATE oficina SET Latitud ="NULL", Longitud ="NULL" WHERE CodOficina =266',
 'UPDATE oficina SET Latitud ="NULL", Longitud ="NULL" WHERE CodOficina =267',
 'UPDATE oficina SET Latitud ="-12.064488", Longitud ="-77.002212" WHERE CodOficina =268',
 'UPDATE oficina SET Latitud ="NULL", Longitud ="NULL" WHERE CodOficina =269',
 'UPDATE oficina SET Latitud ="NULL", Longitud ="NULL" WHERE CodOficina =270',
 'UPDATE oficina SET Latitud ="NULL", Longitud ="NULL" WHERE CodOficina =271',
 'UPDATE oficina SET Latitud ="NULL", Longitud ="NULL" WHERE CodOficina =272',
 'UPDATE oficina SET Latitud ="41.8131215", Longitud ="-5.4730508" WHERE CodOficina =273',
 'UPDATE oficina SET Latitud ="NULL", Longitud ="NULL" WHERE CodOficina =274',
 'UPDATE oficina SET Latitud ="-11.1080649", Longitud ="-77.6137964" WHERE CodOficina =275',
 'UPDATE oficina SET Latitud ="-10.7600446", Longitud ="-77.7536798" WHERE CodOficina =276',
 'UPDATE oficina SET Latitud ="NULL", Longitud ="NULL" WHERE CodOficina =277',
 'UPDATE oficina SET Latitud ="NULL", Longitud ="NULL" WHERE CodOficina =278',
 'UPDATE oficina SET Latitud ="NULL", Longitud ="NULL" WHERE CodOficina =279',
 'UPDATE oficina SET Latitud ="NULL", Longitud ="NULL" WHERE CodOficina =280',
 'UPDATE oficina SET Latitud ="42.0227133", Longitud ="2.7009591" WHERE CodOficina =281',
 'UPDATE oficina SET Latitud ="-12.045328", Longitud ="-77.0987369" WHERE CodOficina =282',
 'UPDATE oficina SET Latitud ="NULL", Longitud ="NULL" WHERE CodOficina =284',
 'UPDATE oficina SET Latitud ="NULL", Longitud ="NULL" WHERE CodOficina =285',
 'UPDATE oficina SET Latitud ="-6.7667753", Longitud ="-79.8264474" WHERE CodOficina =287',
 'UPDATE oficina SET Latitud ="NULL", Longitud ="NULL" WHERE CodOficina =291',
 'UPDATE oficina SET Latitud ="-9.1050154", Longitud ="-78.5566677" WHERE CodOficina =295',
 'UPDATE oficina SET Latitud ="NULL", Longitud ="NULL" WHERE CodOficina =297',
 'UPDATE oficina SET Latitud ="NULL", Longitud ="NULL" WHERE CodOficina =299',
 'UPDATE oficina SET Latitud ="-9.036518", Longitud ="-75.5076842" WHERE CodOficina =301',
 'UPDATE oficina SET Latitud ="-34.5929056", Longitud ="-58.5272902" WHERE CodOficina =304',
 'UPDATE oficina SET Latitud ="-9.036518", Longitud ="-75.5076842" WHERE CodOficina =305',
 'UPDATE oficina SET Latitud ="NULL", Longitud ="NULL" WHERE CodOficina =306',
 'UPDATE oficina SET Latitud ="NULL", Longitud ="NULL" WHERE CodOficina =307',
 'UPDATE oficina SET Latitud ="NULL", Longitud ="NULL" WHERE CodOficina =309',
 'UPDATE oficina SET Latitud ="NULL", Longitud ="NULL" WHERE CodOficina =310',
 'UPDATE oficina SET Latitud ="-16.38858", Longitud ="-71.5305711" WHERE CodOficina =311',
 'UPDATE oficina SET Latitud ="-12.0204728", Longitud ="-77.0595069" WHERE CodOficina =312',
 'UPDATE oficina SET Latitud ="-25.0671911", Longitud ="-50.0951285" WHERE CodOficina =314',
 'UPDATE oficina SET Latitud ="NULL", Longitud ="NULL" WHERE CodOficina =315',
 'UPDATE oficina SET Latitud ="NULL", Longitud ="NULL" WHERE CodOficina =316',
 'UPDATE oficina SET Latitud ="NULL", Longitud ="NULL" WHERE CodOficina =317',
 'UPDATE oficina SET Latitud ="-8.3951206", Longitud ="-77.4929586" WHERE CodOficina =318',
 'UPDATE oficina SET Latitud ="-11.9883283", Longitud ="-77.1232912" WHERE CodOficina =319',
 'UPDATE oficina SET Latitud ="-9.036518", Longitud ="-75.5076842" WHERE CodOficina =324',
 'UPDATE oficina SET Latitud ="-12.0510479", Longitud ="-77.0210737" WHERE CodOficina =331',
 'UPDATE oficina SET Latitud ="NULL", Longitud ="NULL" WHERE CodOficina =332',
 'UPDATE oficina SET Latitud ="-7.8360863", Longitud ="-79.1593272" WHERE CodOficina =333',
 'UPDATE oficina SET Latitud ="-37.2418562", Longitud ="-56.9768716" WHERE CodOficina =335',
 'UPDATE oficina SET Latitud ="NULL", Longitud ="NULL" WHERE CodOficina =336',
 'UPDATE oficina SET Latitud ="NULL", Longitud ="NULL" WHERE CodOficina =339',
 'UPDATE oficina SET Latitud ="-12.064153727272727", Longitud ="-77.03795617272728" WHERE CodOficina =340',
 'UPDATE oficina SET Latitud ="NULL", Longitud ="NULL" WHERE CodOficina =341',
 'UPDATE oficina SET Latitud ="-11.9883283", Longitud ="-77.1232912" WHERE CodOficina =342',
 'UPDATE oficina SET Latitud ="NULL", Longitud ="NULL" WHERE CodOficina =344',
 'UPDATE oficina SET Latitud ="NULL", Longitud ="NULL" WHERE CodOficina =346',
 'UPDATE oficina SET Latitud ="NULL", Longitud ="NULL" WHERE CodOficina =347',
 'UPDATE oficina SET Latitud ="NULL", Longitud ="NULL" WHERE CodOficina =348',
 'UPDATE oficina SET Latitud ="NULL", Longitud ="NULL" WHERE CodOficina =349',
 'UPDATE oficina SET Latitud ="NULL", Longitud ="NULL" WHERE CodOficina =350',
 'UPDATE oficina SET Latitud ="NULL", Longitud ="NULL" WHERE CodOficina =352',
 'UPDATE oficina SET Latitud ="NULL", Longitud ="NULL" WHERE CodOficina =353',
 'UPDATE oficina SET Latitud ="-5.0925044", Longitud ="-81.093442" WHERE CodOficina =354',
 'UPDATE oficina SET Latitud ="-15.4795672", Longitud ="-70.1547114" WHERE CodOficina =355',
 'UPDATE oficina SET Latitud ="NULL", Longitud ="NULL" WHERE CodOficina =356',
 'UPDATE oficina SET Latitud ="NULL", Longitud ="NULL" WHERE CodOficina =358',
 'UPDATE oficina SET Latitud ="-17.9942453", Longitud ="-70.2483994" WHERE CodOficina =359',
 'UPDATE oficina SET Latitud ="-12.0488087", Longitud ="-77.0273179" WHERE CodOficina =361',
 'UPDATE oficina SET Latitud ="NULL", Longitud ="NULL" WHERE CodOficina =362',
 'UPDATE oficina SET Latitud ="-18.034465", Longitud ="-70.2778682" WHERE CodOficina =364',
 'UPDATE oficina SET Latitud ="37.132773", Longitud ="-6.8263123" WHERE CodOficina =366',
 'UPDATE oficina SET Latitud ="NULL", Longitud ="NULL" WHERE CodOficina =367',
 'UPDATE oficina SET Latitud ="-12.1191783", Longitud ="-77.0274482" WHERE CodOficina =368',
 'UPDATE oficina SET Latitud ="37.132773", Longitud ="-6.8263123" WHERE CodOficina =369',
 'UPDATE oficina SET Latitud ="NULL", Longitud ="NULL" WHERE CodOficina =370',
 'UPDATE oficina SET Latitud ="42.4607969", Longitud ="-6.0563872" WHERE CodOficina =372',
 'UPDATE oficina SET Latitud ="NULL", Longitud ="NULL" WHERE CodOficina =377',
 'UPDATE oficina SET Latitud ="NULL", Longitud ="NULL" WHERE CodOficina =378',
 'UPDATE oficina SET Latitud ="NULL", Longitud ="NULL" WHERE CodOficina =380',
 'UPDATE oficina SET Latitud ="NULL", Longitud ="NULL" WHERE CodOficina =381',
 'UPDATE oficina SET Latitud ="NULL", Longitud ="NULL" WHERE CodOficina =383',
 'UPDATE oficina SET Latitud ="NULL", Longitud ="NULL" WHERE CodOficina =384',
 'UPDATE oficina SET Latitud ="-22.8956763", Longitud ="-43.186786" WHERE CodOficina =385',
 'UPDATE oficina SET Latitud ="NULL", Longitud ="NULL" WHERE CodOficina =387',
 'UPDATE oficina SET Latitud ="NULL", Longitud ="NULL" WHERE CodOficina =388',
 'UPDATE oficina SET Latitud ="NULL", Longitud ="NULL" WHERE CodOficina =396',
 'UPDATE oficina SET Latitud ="NULL", Longitud ="NULL" WHERE CodOficina =397',
 'UPDATE oficina SET Latitud ="NULL", Longitud ="NULL" WHERE CodOficina =409',
 'UPDATE oficina SET Latitud ="NULL", Longitud ="NULL" WHERE CodOficina =418',
 'UPDATE oficina SET Latitud ="NULL", Longitud ="NULL" WHERE CodOficina =426',
 'UPDATE oficina SET Latitud ="NULL", Longitud ="NULL" WHERE CodOficina =427',
 'UPDATE oficina SET Latitud ="NULL", Longitud ="NULL" WHERE CodOficina =436',
 'UPDATE oficina SET Latitud ="NULL", Longitud ="NULL" WHERE CodOficina =441',
 'UPDATE oficina SET Latitud ="NULL", Longitud ="NULL" WHERE CodOficina =442',
 'UPDATE oficina SET Latitud ="NULL", Longitud ="NULL" WHERE CodOficina =443',
 'UPDATE oficina SET Latitud ="NULL", Longitud ="NULL" WHERE CodOficina =467',
 'UPDATE oficina SET Latitud ="NULL", Longitud ="NULL" WHERE CodOficina =480',
 'UPDATE oficina SET Latitud ="-16.5006566", Longitud ="-68.1187188" WHERE CodOficina =482',
 'UPDATE oficina SET Latitud ="NULL", Longitud ="NULL" WHERE CodOficina =484',
 'UPDATE oficina SET Latitud ="-12.09392345", Longitud ="-77.02114315486652" WHERE CodOficina =486',
 'UPDATE oficina SET Latitud ="NULL", Longitud ="NULL" WHERE CodOficina =508',
 'UPDATE oficina SET Latitud ="NULL", Longitud ="NULL" WHERE CodOficina =524',
 'UPDATE oficina SET Latitud ="NULL", Longitud ="NULL" WHERE CodOficina =554',
 'UPDATE oficina SET Latitud ="NULL", Longitud ="NULL" WHERE CodOficina =564',
 'UPDATE oficina SET Latitud ="NULL", Longitud ="NULL" WHERE CodOficina =566',
 'UPDATE oficina SET Latitud ="NULL", Longitud ="NULL" WHERE CodOficina =584',
 'UPDATE oficina SET Latitud ="NULL", Longitud ="NULL" WHERE CodOficina =597',
 'UPDATE oficina SET Latitud ="-12.048042281818182", Longitud ="-77.06067837272727" WHERE CodOficina =609',
 'UPDATE oficina SET Latitud ="-12.0849965", Longitud ="-76.9245731" WHERE CodOficina =614',

In [ ]:
#Actualizar en sql workbench
mycursor = conexion.cursor()
for up_oficina in QUERY_COORDENADAS:
    mycursor.execute(up_oficina)
    conexion.commit()